.profile__info {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

@media screen and (max-width: 767px) {
  .profile__info {
    padding-left: 18px;
    max-width: 310px;
  }
}

@media screen and (max-width: 560px) {
  .profile__info {
    padding: 27px 0 0;
    max-width: 280px;
  }
 }
