.element__trash {
  background-color: transparent;
  border: none;
  padding: 0;
  background-image: url(./../../../images/trash.svg);
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: opacity .3s ease-in;
}

.element__trash:hover {
  opacity: 0.6;
  cursor: pointer;
}
